<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Confirmation</title>
</head>

<body>

    <h1>
        Submission Confirmation
    </h1>

    Received: <%- stock %> <br><br>
        <a href="/">HOME</a>
</body>