<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Confirmation</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>
        Removal Confirmation
    </h1>

    Cleared Table<br><br>
    <a href="/">HOME</a>
</body>